# BigQuery Configuration
BIGQUERY_PROJECT_ID=
BIGQUERY_DATASET_ID=
BIGQUERY_TABLE_ID=

# Google Sheets Configuration
GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/17-5IHQzbn8rlPM29lYwuBjrz8RrQJyHQ/edit?usp=sharing&ouid=112054943148298379262&rtpof=true&sd=true
GOOGLE_SHEETS_SHEET_NAME=bank_customer_data

# Airflow Configuration
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
AIRFLOW_IMAGE_NAME=apache/airflow:3.0.3
